#output {

    background-color: rgb(37, 135, 220);
    background-color: transparent;
    border-radius: 25px;
    padding: 20px;
    backdrop-filter: blur(100px);
    outline: #6c726c;
    margin-top: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
  }
  td {
    border-bottom: 1px solid #000;
    padding: 0px 10px;
    margin: 0;
    
  
  }
  
  table {
    border-collapse: collapse;
  
  }
  
  #topline {
  }
  