#calculator{

    background-color: rgb(37, 135, 220);
    background-color: transparent;
    border-radius: 25px;
    padding: 20px;
    backdrop-filter: blur(100px);
    outline: #6c726c;

}
#model{

    background-color: rgb(37, 135, 220);
    background-color: transparent;
    border-radius: 25px;
    padding: 20px;
    backdrop-filter: blur(100px);
    outline: #6c726c;

}


.numberinput {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: right;
    box-shadow: #6c726c;
    color: white;
    font-size: 25px;
    margin-top: 3%;
    padding:20px;
    filter: drop-shadow(0 0 0.75rem rgb(103, 94, 94));
    background-color: transparent;
    border-bottom: 2px solid rgb(219, 151, 151);

}
.numberinput:focus {
    outline: none;
  }
.numberinput::placeholder{
    color:rgb(174, 174, 177);
    }

  
.submitinput {
    width: 100%;
    background-color: #6c726c;
    color: white;
    
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .radioinput {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
  }